@media (max-width: 350px) {
    body {width: 80vw;}
}

body {
  margin: auto;
}

main {
  background-color: white;
  height: 100%;
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

#navbar {
  position: fixed;
  background-color: white;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  color: black;
  margin: 10px;
  font-size: 1.8em;
  font-weight: thin;
}

.container {
  display: grid;
  flex-direction: column;
}

.main-section {
  margin: 10px 20px;
}

.nav-link {
  color: black;
  border-top: 1px solid black;
  text-decoration: none;
  width: 100%;
  padding: 10px 0px 10px 0px;
}
